.menu-overlay-button{
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}
.cart-area{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px;
    padding: 4px;
}
.cart-wishlist{
    display: flex;
    /* margin-top: 16px; */
}
.cart-wishlist p{
    margin-right: 8px;
}
.hero{
    display: flex;
    background-color:#E4F5F5;
    color: #388888;

     /* #61bebe; */
}
.hero-image{
    width: 50%;
}
.hero-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 50%;
}
.hero-about-us{
    display: flex;
}
.hero-description-about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
#playful-img{
    margin-right: auto;
    margin-left: auto;
}

#hero-button1{
    padding: 5px 19px;
    border: 2px solid #388888;
    border-radius: 20px;
    text-transform: uppercase;
    margin-right: 10px;
    color: #388888;
}
#hero-button2{
    padding: 5px 19px;
    border: 2px solid #388888;
    border-radius: 20px;
    text-transform: uppercase;
    color: #388888;
}
.find-my-playlist{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.custom-container{
    margin-right: 35px;
    margin-left: 35px;
}
.steps-to-play-desktop{
    margin-top: 50px;
    padding-top: 40px;
    margin-bottom: 50px;
    padding-bottom: 40px;
    text-align: center;
}
.steps-desktop{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}
#steps-title-desktop{
    color: #40C0CB;
}
.step-1-desktop{
    width: 20%;
}
#step-title-desktop{
    margin-top: 10px;
    margin-bottom: 10px;
}
#step-description-desktop{
    margin-top: 30px;
    margin-bottom: 30px;
}
.playsets-section{
    padding: 30px 0px;
}
.playsets{
    display: flex;
    width: 70%;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 35px;
}
#redirect-link {
    color: #86b3b2;

}
#premium-link{
    color: #86b3b2;
    /* margin-top: 8px; */
}
#playsets-img{
    width: 260px;
}
.playsets-description{
    width: 50%;
    font-size: 18px;
}
.playsets-image{
    width: 50%;
    padding-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#premium-products-title{
    color: #D7D7D7;
    font-size: 48px;
}
.premium-products-mobile{
    display: none;
}
#premium{
    color: #61BEBE;
}
#easy{
    color: #CC5860;
}
#good{
    color: #AAC438;
}
.premium{
    /* display: flex;
    margin-top: 30px;
    margin-bottom: 30px; */
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}
.premium-description{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;

}
.premium-description h3{
    color: #357f7e;
    font-weight: bold;
}
/* .premium-image{
    width: 50%;
} */
/* .premium-mobile{

} */
.premium-description-mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.premium-products-mobile{
    text-align: center;
}
.premium-products-mobile h3, h2,li{
    margin-bottom: 5px;
    margin-top: 5px;
}
.premium-products-mobile ul{
    text-align: left;

}

.easy-to-buy{
    /* margin-top: 30px;
    margin-bottom: 30px;
    display: flex; */
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}
.easy-to-buy-image{
    width: 50%;
}
.easy-to-buy-description{
    width: 50%;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.easy-to-buy-description h3{
    color: #cd5960;
    font-weight: bold;
}
/* .easy-to-buy-text{
    margin-top: 15px;
    margin-bottom: 15px;

} */
.premium-text{
    margin-top: 10px;
    margin-bottom: 10px;
}
.premium-text h3,h2{
    text-align: center;
}
.easy-to-buy-text{
    margin-top: 15px;
    margin-bottom: 15px;
}
.easy-to-buy-text h3, h2{
    text-align: center;
}
.easy-to-buy-description-premium{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.good-company{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}
.good-company-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}
.good-company-description-mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.good-company-text{
    margin-top: 15px;
    margin-bottom: 15px;
}
.good-company-text h3, h2{
    text-align: center;
}
.footer-desktop{
    background-color: #388888;
    color: white;
}
.footer-desktop-links{
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    padding-top: 30px;
    padding-bottom: 150px;

}

.footer-desktop-links p {
    margin-bottom: 8px;
}
.footer-desktop-search-bar{
    margin-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.search-box{
    display: flex;
    align-items: center;
    border: 1px solid white;
    padding: 5px;
    /* border-radius: 5px; */
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.search-box input[type="text"] {
    border: none;
    /* padding: 10px; */
    width: 200px;
    outline: none;
    /* background-color: #4a9b9f; */
    background-color: transparent;
    color: white;
    font-size: 16px;
    width: 80%;
}
.search-box-mobile{
    display: flex;
    flex-direction: column;
}
.search-box-mobile input[type="text"] {
    border: 2px solid white;
    /* padding: 10px; */
    width: 200px;
    outline: none;
    /* background-color: #4a9b9f; */
    background-color: transparent;
    color: white;
    font-size: 16px;
    width: 100%;
}



.search-box button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.search-box button:hover {
    opacity: 0.8;
}
.divider{
    width: 1px;
    height: 40px;
    background-color: white;
    margin: 0 10px;
}
#clear{
    text-align: center;
}
#clear-mobile{
    text-align: center;
    border: 2px solid white;
    margin-top: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
}
#clear-mobile:hover{
    color: black;
    background-color: white;
}

.copyright{
    display: flex;
    justify-content: space-between;
    background-color: #3f9a9a;
    padding: 20px 10px;
    color: white;
}
.copyright-links{
    display: flex;
}
.copyright-links div{
    margin-right: 20px;
}


.steps-to-play {
    margin-top: 50px;
    padding-top: 40px;
    margin-bottom: 50px;
    padding-bottom: 40px;
    text-align: center;
}

.steps-carousel {
    margin-top: 30px;
    position: relative;
}

.carousel-container {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.step {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
    box-sizing: border-box;
}

#steps-title {
    color: #40C0CB;
}

#step-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

#step-description {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Dots */
.carousel-dots {
    text-align: center;
    margin-top: 20px;
}

.carousel-dots .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.carousel-dots .dot.active {
    background-color: #40C0CB;
}

.carousel-premium {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 450px;
}

.carousel-slide-premium {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
}

.carousel-slide-premium.active {
    display: flex;
    opacity: 1;
}

.carousel-dots-mobile {
    text-align: center;
    margin-top: 20px;
}

.dot-mobile {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot-mobile.active {
    background-color: #40C0CB;
}

.last-hr{
    display: none;
}
.who-we-are{
    display: none;
}
.who-we-are-about{
    display: flex;
}

.footer-mobile{
    display: none;
}
.facebook-instagram{
    display: flex;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .steps {
        display: none;
    }
    .carousel-container {
        display: flex;
    }
    .facebook-instagram{
        flex-direction: row;
    }
    .copyright-links div{
        margin-right: 20px;
        margin-top: 10px;
    }
}




@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .hero{
        flex-direction: column;
    }
    .hero-image{
        width: 100%;
    }
    .hero-description{
        margin-top: 10px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #hero-button2{
        margin-top: 10px;
    }
    .custom-container{
        margin-right: 15px;
        margin-left: 15px;
    }
    .steps-to-play-desktop{
        display: none;
    }
    .playsets-section{
        display: none;
    }
    .premium-products{
        display: none;
    }
    .premium-products-mobile{
        display: block;
    }
    .footer-desktop-links{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .last-hr{
        display: block;
    }
    .who-we-are{
        display: block;
        margin-right: 10px;
        margin-left: 10px;
        padding-top: 50px;
        padding-bottom: 0px;
        text-align: center;
    }
    .who-we-are-img{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .copyright-links{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .footer-desktop{
        display: none;
    }
    .footer-mobile{
        display: block;
        background-color: #388888;
        color: white;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 30px;
    }
    .footer-mobile-links{
        text-align: center;
        padding-bottom: 10px;
        margin: 0px 15px;
    }
    .footer-mobile-links div{
        margin-top: 20px;
    }
    .footer-mobile-search-bar{
        padding: 20px 0px;
        margin: 3px 3px;
    }
    .get-started-outdoor{
        display: flex;
        justify-content: space-between;
    }
    .indoor-other-links{
        display: flex;
        justify-content: space-between;
    }

}

@media only screen and (min-width: 768px) {
    /* For desktop: */

    .hero{
        height: 75vh;
    }

}


/* About us CSS */

.about-us-container{
    margin: 25px;
}
.hero-about-us-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.hero-description-about-us{
    width: 50%;
}
.hero-description-about-us p{

    width: 60%;
    font-size: 19px;

}
.who-we-are-about{
    margin-top: 20px;
    padding-top: 30px;
}
.about-what-we-sell{
    display: flex;
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
}
.about-what-we-sell-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
}
.about-what-we-sell-image{
    width: 50%;
}
.about-what-we-sell-description p{
    width: 60%;
    font-size: 19px;
}
#view-gallery-btn{
    margin-top: 10px;
    padding: 5px 20px;
    border: 2px solid #357e7f;
    border-radius: 20px;
}
#view-gallery-btn:hover{
    /* margin-top: 10px; */
    /* padding: 5px 10px; */
    /* border: 2px solid red; */
    /* border-radius: 20px; */
    background-color: #357e7f;
    color: white;
}
#view-gallery-btn-mobile{
    display: none;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .hero-about-us{
        flex-direction: column;
    }
    .hero-about-us-img{

        width: 100%;
    }
    .hero-description-about-us{
        width: 100%;
        margin-top: 20px;
    }
    .hero-description-about-us p{

        width: 100%;

    }
    .about-what-we-sell{
        flex-direction: column;
    }
    .about-what-we-sell-description{
        margin-bottom: 15px;
        width: 100%;
    }
    .about-what-we-sell-image{
        width: 100%;
    }
    .about-what-we-sell-description p{
        width: 100%;
    }
    #view-gallery-btn{
        display: none;
    }
    #view-gallery-btn-mobile{
        display: block;
        margin-top: 20px;
        border: 2px solid #357e7f;
        border-radius: 20px;
        padding: 5px 20px;
    }
    #view-gallery-btn-mobile:hover{
        background-color: #357e7f;
        color: white;
    }


}


/* Gallery CSS */
.gallery-container{
    margin: 25px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    /*  */
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.gallery-item {
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    /* height: 100%;
    object-fit: cover; */

}

@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 8px;
    }

    .gallery-item:nth-child(3n),
    .gallery-item:nth-child(4n) {
        grid-column: span 2;
    }
}

@media (max-width: 480px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 5px;
    }

    .gallery-item {
        grid-column: span 1;
    }
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery-item {
    flex: 1 1 calc(25% - 10px);
    overflow: hidden;
}

.gallery-item:nth-child(2n) {
    flex: 1 1 calc(50% - 10px);
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .gallery-item {
        flex: 1 1 calc(50% - 8px);
    }

    .gallery-item:nth-child(2n),
    .gallery-item:nth-child(3n) {
        flex: 1 1 calc(100% - 8px);
    }
}

@media (max-width: 480px) {
    .gallery-item {
        flex: 1 1 calc(100% - 5px);
    }
}


/* Contact us CSS */
.contact-us-container{
    margin: 25px;
    display: flex;
    justify-content: space-between;
}
.contact-us-form{
    width: 60%;
}
.contact-us-description{
    width: 30%;
    text-align: start;
}

#submit-btn{
    border: 2px solid #357e7f;
    padding: 5px 20px;
    margin-top: 15px;
}
#submit-btn:hover{
    background-color: #357e7f;
    color: white;
}
.input-field{
    margin-top: 10px;
}
.contact-email-phone{
    margin: 10px 0px;
    padding: 20px 0px;
}
.contact-hours{
    margin: 10px 0px;
    padding: 20px 0px;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .contact-us-container{
        flex-direction: column;
    }
    .contact-us-form{
        width: 100%;
    }
    .contact-us-description{
        width: 100%;
        margin-top: 20px;
    }
    .submit-contact-btn{
        text-align: center;
    }

}