.menu-overlay-button{
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}
.cart-area{
    display: flex;
    justify-content: space-between;
    margin: 6px 0px;
    padding: 4px;
}
.cart-wishlist{
    display: flex;
    /* margin-top: 16px; */
}
.cart-wishlist p{
    margin-right: 8px;
}
.hero{
    display: flex;
    background-color:#E4F5F5;
    color: #388888;
     /* #61bebe; */
}
.hero-description{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.hero-buttons{
    /* margin: 10px 0px; */
    /* padding-top: 10px; */
}
#hero-button1{
    padding: 5px 19px;
    border: 2px solid #388888;
    border-radius: 15px;
    text-transform: uppercase;
    margin-right: 10px;
    color: #388888;
}
#hero-button2{
    padding: 5px 19px;
    border: 2px solid #388888;
    border-radius: 15px;
    text-transform: uppercase;
    color: #388888;
}
.steps-to-play{
    margin-top: 50px;
    padding-top: 40px;
    margin-bottom: 50px;
    padding-bottom: 40px;
    text-align: center;
}
.steps{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}
#steps-title{
    color: #40C0CB;
}
.step-1{
    width: 20%;
}
#step-title{
    margin-top: 10px;
    margin-bottom: 10px;
}
#step-description{
    margin-top: 30px;
    margin-bottom: 30px;
}
.playsets{
    display: flex;
    width: 60%;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
}

#premium-products-title{
    color: #D7D7D7;
    font-size: 48px;
}
#premium{
    color: #61BEBE;
}
#easy{
    color: #CC5860;
}
#good{
    color: #AAC438;
}
.premium{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}
.premium-description{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
}
.premium-image{
    width: 50%;
}
.easy-to-buy{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
}
.easy-to-buy-image{
    width: 50%;
}
.easy-to-buy-description{
    width: 50%;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.good-company{
    display: flex;
    justify-content: space-between;
}
.good-company-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 50%; */
    margin-right: auto;
    margin-left: auto;
}