/* .landing{
    height: 80vh;
    background-color: #1baad890 ;
    display: flex;
    width: 100%;
}
.landing-image{
    width: 80%;
}
.landing-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 768px) {
    .landing{
        flex-direction: column;
    }
  } */
.landing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #1baad850;
    /* height: 90vh; */
    /* padding: 20px; */
}

.landing-image {
    flex-basis: 67%;
}

.landing-description {
    flex-basis: 33%;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.navigatio-menu{
    color: #1baad890;
}
#menu-overlay{
    color: #1baad890 !important;
}

/* On smaller screens, stack the image above the description */
@media screen and (max-width: 768px) {
    .landing {
        flex-direction: column;
        height: 90vh;
    }

    .landing-image {
        flex-basis: 100%;
        order: 1;
        /* Move the image to the top */
    }

    .landing-description {
        flex-basis: 100%;
        order: 2;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

/*

Primary Color: #1baad8 (a vibrant blue)

This can be a dominant color for the brand, as blue often conveys trust and professionalism.
Secondary Color: #f2b21d (a warm yellow)

Yellow complements the blue nicely and can be used for accents or call-to-action buttons.
Tertiary Color: #98b357 (a calming green)

Green can be used for highlights or subtle design elements to add balance to the palette.

*/